:root {
    --clr-primary: hsl(271deg 49% 95% / 85%);
    --clr-secondary: hsl(271deg 49% 57% / 1);
    --title-background-color: hsl(271deg 49% 17% / 50%);
    --player-background-color: hsl(271deg 49% 17% / 1);
}

/**********
 * Colors
 *********/
$clr-primary: hsl(271deg 49% 95% / 85%);
$clr-secondary: hsl(271deg 49% 57% / 1);
$title-background-color: hsl(271deg 49% 17% / 50%);
$player-background-color: hsl(271deg 49% 17% / 1);