@use '../abstract' as *;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: url('../images/bkg.jpg');
    background-size: cover;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 475px;
    margin: 0;
    padding: 50px 50px 50px 35px;
    background: $title-background-color;
    font-family: "Montserrat Alternate Bold", sans-serif;
    color: $clr-primary;
}

h1 img {
    width: 75px;
    margin-right: 10px;
}

.global-container {
    padding: 30px;
    background: $title-background-color;
    font-family: "Montserrat Alternate Bold", sans-serif;
    color: $clr-primary;
}