@use '../abstract' as *;

.player__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 25px;
    overflow: hidden;
    border-radius: 5px;
    color: $clr-primary;
    background: inherit;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(75px);
        background: inherit;
        z-index: -1;
    }
}

.player__progressBar-container,
.player__progressBar-innerContainer,
.player__progressBar,
.player__progressBar-buffer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.player__progressBar {
    width: 50%;
    height: 10px;
    background: $clr-secondary;
    z-index: 10;
}

.player__progressBar-buffer {
    width: 100%;
    height: 10px;
    background: $clr-primary;
}

.player__container .controls {
    // Reset button styles
    border: none;
    background: none;
    color: $clr-primary;
    font-size: 1rem;
    cursor: pointer;

    & > svg {
        width: 25px;
    }
}