@use '../abstract' as *;

.player__container {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 35px 25px 25px;
    background: inherit;
    color: $clr-primary;
    animation: calc(3 * #{$timing-animation}) ease-in-out slidein forwards;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $title-background-color;
        z-index: -1;
    }
}

.player__container .controls {
    // Reset button styles
    border: none;
    background: none;
    color: $clr-primary;
    font-size: 1rem;
    cursor: pointer;
    transition: color $timing-animation ease-in-out;

    & > svg {
        width: 25px;
    }

    &:hover, &:focus {
        color: $clr-secondary;
    }
}

.player__progressBar-container,
.player__progressBar-innerContainer,
.player__progressBar,
.player__progressBar-buffer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.player__progressBar-innerContainer {
    background: $title-background-color;
}

.player__progressBar.controls {
    width: 0%;
    height: 10px;
    background: $clr-secondary;
    z-index: 10;
    transition: width 1s linear;
}

.player__progressBar-buffer {
    width: 100%;
    height: 10px;
    background: $clr-primary;
    transition: width calc(2 * #{$timing-animation}) ease-in-out;
}

.player__datas-container {
    p {
        margin-block: 3px;
        font-family: "Montserrat Alternate", sans-serif;

        &.player__name {
            font-size: 1.35rem;
            font-family: "Montserrat Alternate Extra-Bold", sans-serif;
        }
    }
}

.player__timer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    flex: 1 1 auto;
    text-align: right;
    font-family: "Montserrat Alternate Bold", sans-serif;
}

.player__timer-currentTime {
    font-size: 1.5rem;
    color: $clr-secondary;
    font-family: "Montserrat Alternate Extra-Bold", sans-serif;
}

.player__progressBar-input {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    z-index: 15;
}

.player__progressBar-input {
    -webkit-appearance: none; /* stylelint-disable-line */
    background: transparent;
    border: 0;
    border-radius: 0;
    // `color` property is used in JS to populate lower fill for WebKit
    color: yellow;
    display: block;
    height: 10px;
    margin: 0;
    min-width: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;
    width: 100%;
  
    &::-webkit-slider-runnable-track {
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 10px;
        transition: box-shadow 0.3s ease;
        user-select: none;
        background-image: linear-gradient(to right, currentColor var(--value, 0%), transparent var(--value, 50%));
    }
  
    &::-webkit-slider-thumb {
        background: red;
        border: 0;
        border-radius: 100%;
        box-shadow: 0;
        height: 20px;
        position: relative;
        transition: all 0.2s ease;
        width: 20px;
        -webkit-appearance: none; /* stylelint-disable-line */
        margin-top: calc(((#{20px} - #{10px}) / 2) * -1);
    }
  
    // Mozilla
    &::-moz-range-track {
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 10px;
        transition: box-shadow 0.3s ease;
        user-select: none;
    }
  
    &::-moz-range-thumb {
        background: red;
        border: 0;
        border-radius: 100%;
        box-shadow: 0;
        height: 10px;
        position: relative;
        transition: all 0.2s ease;
        width: 10px;
    }
  
    &::-moz-range-progress {
      background: currentColor;
      border-radius: 0;
      height: 10px;
    }
  
    // Microsoft
    &::-ms-track {
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 10px;
        transition: box-shadow 0.3s ease;
        user-select: none;
      color: transparent;
    }
  
    &::-ms-fill-upper {
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 10px;
        transition: box-shadow 0.3s ease;
        user-select: none;
    }
  
    &::-ms-fill-lower {
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 10px;
        transition: box-shadow 0.3s ease;
        user-select: none;
  
      background: currentColor;
    }
  
    &::-ms-thumb {
        background: red;
        border: 0;
        border-radius: 100%;
        box-shadow: 0;
        height: 10px;
        position: relative;
        transition: all 0.2s ease;
        width: 10px;
        // For some reason, Edge uses the -webkit margin above
        margin-top: 0;
    }
  
    &::-ms-tooltip {
      display: none;
    }
  
    // Focus styles
    &:focus {
      outline: 0;
    }
  
    &::-moz-focus-outer {
      border: 0;
    }
  
    &.plyr__tab-focus {
      &::-webkit-slider-runnable-track {
        outline-color: violet;
        outline-offset: 2px;
        outline-style: dotted;
        outline-width: 3px;
      }
  
      &::-moz-range-track {
        outline-color: violet;
        outline-offset: 2px;
        outline-style: dotted;
        outline-width: 3px;
      }
  
      &::-ms-track {
        outline-color: violet;
        outline-offset: 2px;
        outline-style: dotted;
        outline-width: 3px;
      }
    }
  }